# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore environment variable files
.env

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore MLflow artifacts
mlruns/
mlartifacts/

# Ignore Docker-related files
docker-compose.yml

# Ignore Terraform state files
.terraform/
*.tfstate
*.tfstate.*

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db